<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AGE.Properties.Settings.GestioEnfantConnectionString"
            connectionString="Data Source=DESKTOP-1K0GE9A\SQLEXPRESS;Initial Catalog=GestioEnfant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>